@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
.txt-logo{
    font-family: 'Roboto', 'sans-serif';
    font-weight: 700;
    font-size: x-large;
}

.txt-nav{
    font-family: 'Roboto', 'sans-serif';
    font-weight: 700;
    font-size: large;
    text-decoration: none;
    color: black;
}

.txt-h1{
    font-family: 'Roboto', 'sans-serif';
    font-weight: 800;
    font-size: xx-large;
}

.txt-h2{
    font-family: 'Roboto', 'sans-serif';
    font-weight: 700;
    font-size: 30px;
}

.txt-p{
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    font-size: medium;
}

.btn-w{
    height: 58px;
}

.box-grid{
    height: 317px;
    background-color: blue;

}

.img-fill{
    width: 100%;
    height: fit-content;
}

.txt-right{
    text-align: right;
}

.color-tersier{
    background-color: blueviolet;
}